<div class="container mt-5">
    <h2>Cadastro de Marcas</h2>

    <form class="form-group">
        <div class="row">
            <div class="form-group col-8">
                <label class="form-label">Marca</label>
                <input type="text" maxlength="50" class="form-control">
            </div>
            <div class="col-8 mt-3 ">
                <button type="button" class="btn btn-danger float-end ">Cancelar</button>
                <button type="submit" class="btn btn-success float-end " style="margin-right: 1em;">Salvar</button>
            </div>
        </div>
    </form>
</div>